@{
    ViewBag.Title = "Index";
}

<html>

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Main/Index">LogOUt</a>
        </li>
    </ul>
    <div class="container">
        <h2>Please Select a Operation from below..</h2>
        <ul style="padding-left:500px">
            <li><a href="/Hospital/Add">Add Hospital <br /><br /></a></li>
            <li><a href="/Hospital/Delete">Delete Hospital<br /><br /></a></li>
            <li><a href="/Hospital/Update">Update Hospital<br /><br /></a></li>
            <li><a href="/Hospital/Search">Search Hospital<br /><br /></a></li>
            <li><a href="/Hospital/ViewHospital">View Hospital<br /><br /></a></li>
        </ul>
    </div>
</body>

</html>
