@{
    ViewBag.Title = "Search";
}

<html>

<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body>
    <div>
        <h2>Search a Hospital</h2>
    </div>
    <div class="container">
        <form action="/Hospital/SearchHospital" method="post" role="form" enctype="multipart/form-data">
            <div class="form-group">
                <label>Hospital ID: </label>
                <input type="number" name="Id" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" name="btnadd" class="btn btn-primary">Search Hospital</button>
            </div>
        </form>
        <h1>@ViewBag.Error</h1>
    </div>
</body>

</html>
