@{
    ViewBag.Title = "Update";
}

<<html>

<head>
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body>
    <div>
        <h2>Update a Hospital</h2>
        <label><a href="/Hospital/Index">Home page</a></label>
    </div>
    <div class="container">
        <form action="/Hospital/UpdateHospital" method="post" role="form">
            <h3>Please provide the new Information and ID of the Hospital</h3>
 
            <div class="form-group">
                <label>Name: </label>
                <input type="text" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label>City: </label>
                <input type="text" name="city"  class="form-control" />
            </div>
            <div class="form-group">
                <label>District: </label>
                <input type="text" name="district" class="form-control" />
            </div>
            <div class="form-group">
                <label>Country: </label>
                <input type="text" name="Country" class="form-control" />
            </div>
            <div class="form-group">
                <label>Location: </label>
                <input type="text" name="location" class="form-control" />
            </div>
            <div class="form-group">
                <label>Timing: </label>
                <input type="text" name="timing" class="form-control" />
            </div>
            <div class="form-group">
                <label>Website: </label>
                <input type="text" name="website" class="form-control" />
            </div>          
            <div class="form-group">
                <label>HPhone: </label>
                <input type="tel" name="HPhone" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" name="btnadd" class="btn btn-primary">Update Hospital</button>
            </div>
        </form>
        <h1>@ViewBag.Error</h1>
    </div>
   
</body>

</html>