@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
   
        <meta charset="utf-8" />
        <title>I Admin Panel</title>
        <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.js"></script>


       <link href="~/Content/adminTem/css/layout.css" rel="stylesheet" />
        <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="~/Content/adminTem/js/jquery-1.5.2.min.js"></script>
        <script src="~/Content/adminTem/js/hideshow.js"></script>
        <script src="~/Content/adminTem/js/jquery.tablesorter.min.js"></script>
        <script src="~/Content/adminTem/js/jquery.equalHeight.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".tablesorter").tablesorter();
            }
            );
            $(document).ready(function () {

                //When page loads...
                $(".tab_content").hide(); //Hide all content
                $("ul.tabs li:first").addClass("active").show(); //Activate first tab
                $(".tab_content:first").show(); //Show first tab content

                //On Click Event
                $("ul.tabs li").click(function () {

                    $("ul.tabs li").removeClass("active"); //Remove any "active" class
                    $(this).addClass("active"); //Add "active" class to selected tab
                    $(".tab_content").hide(); //Hide all tab content

                    var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
                    $(activeTab).fadeIn(); //Fade in the active ID content
                    return false;
                });

            });
        </script>
        <script type="text/javascript">
            $(function () {
                $('.column').equalHeight();
            });
        </script>
    </head>

    <body>
        <header id="header">
            <hgroup>
                <h1 class="site_title"><a href="index.html">Website Admin</a></h1>
                <h2 class="section_title">Dashboard</h2>
                <div class="btn_view_site"><a href="http://localhost:49381/Home/Index">View Site</a></div>
                <div class="btn_view_site"><a href="http://localhost:49381">LogOut</a></div>
            </hgroup>
        </header> <!-- end of header bar -->

        <section id="secondary_bar">
            <div class="user">
                <p>Qasim (<a href="http://localhost:49381/Admin/Message">14 Messages</a>)</p>
                <!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
            </div>
            <div class="breadcrumbs_container">
                <article class="breadcrumbs"><a href="index.html">Website Admin</a> <div class="breadcrumb_divider"></div> <a class="current">Admin Panel</a></article>
            </div>
        </section><!-- end of secondary bar -->

        <aside id="sidebar" class="column">
            <form class="quick_search">
                <input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
            </form>
            <hr />
            <h3>Content</h3>
            <ul class="toggle">
                <li class="icn_new_article"><a href="#">New Article</a></li>
                <li class="icn_edit_article"><a href="#">Edit Articles</a></li>
                <li class="icn_categories"><a href="#">Categories</a></li>
                <li class="icn_tags"><a href="#">Tags</a></li>
            </ul>
            <h3>Users</h3>
            <ul class="toggle">
                <li class="~/Content/adminTem/images/icn_add_user.png"><a href="http://localhost:49381/Doctor/Add">Add New Doctor</a></li>
                <li class="~/Content/adminTem/images/icn_view_users.png" ><a href="http://localhost:49381/Doctor/ViewDoctor">View Doctor</a></li>
                <li class="icn_add_hospital"><a href="http://localhost:49381/User/Add">Add New User</a></li>
                <li class="icn_view_hospital"><a href="http://localhost:49381/User/ViewUser">View all Users</a></li>
                <li class="~/Content/adminTem/images/icn_add_user.png"><a href="http://localhost:49381/Hospital/Add">Add New Hospital </a></li>
                <li class="~/Content/adminTem/images/icn_view_users.png"><a href="http://localhost:49381/Hospital/ViewHospital">View Hospital</a></li>
                <li class="~/Content/adminTem/images/icn_add_user.png"><a href="http://localhost:49381/Patient/Add">Add New Patient </a></li>
                <li class="~/Content/adminTem/images/icn_view_users.png"><a href="http://localhost:49381/Patient/ViewPatient">View Patient</a></li>
                <li class="~/Content/adminTem/images/icn_profile.png"><a href="http://localhost:49381/Home/Index">Your Profile</a></li>
            </ul>
            <h3>Admin</h3>
            <ul class="toggle">
                <li class="icn_settings"><a href="#">Options</a></li>
                <li class="icn_jump_back"><a href="http://localhost:49381">Logout</a></li>
            </ul>

            <footer>
                <hr />
                <p><strong>Copyright &copy; 2015 Website Admin</strong></p>
                <p>Theme by <a href="http://localhost:49381/">Search Doctor</a></p>
            </footer>
        </aside><!-- end of sidebar -->

        <section id="main" class="column">

            <h4 class="alert_info">Welcome to the Online Doctors Search admin panel template.</h4>
            <article class="module width_quarter">
                <header><h3>Messages</h3></header>
                <a href="http://localhost:49381/Admin/Message">New Messages</a>
                <footer>
                    <form class="post_message">
                        <input type="text" value="Message" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
                        <input type="submit" class="btn_post_message" value="" />
                    </form>
                </footer>
            </article><!-- end of messages article -->

            <div class="clear"></div>

            <article class="module width_full">
                <header><h3>Post New Article</h3></header>
                <div class="module_content">
                    <fieldset>
                        <label>Post Title</label>
                        <input type="text">
                    </fieldset>
                    <fieldset>
                        <label>Content</label>
                        <textarea rows="12"></textarea>
                    </fieldset>
                    <fieldset style="width:48%; float:left; margin-right: 3%;">
                        <!-- to make two field float next to one another, adjust values accordingly -->
                        <label>Specialization</label>
                        <select style="width:92%;">
                            <option>Select Specialization</option>
                            <option value="Allergy">Allergy</option>

                            <option value="Anaesthesia">Anaesthesia</option>

                            <option value="Andrology">Andrology</option>

                            <option value="Asthma">Asthma</option>

                            <option value="Audiology">Audiology</option>

                            <option value="Biochemistry">Biochemistry</option>

                            <option value="Cardio Thoracic And Vascular Surgery">Cardio Thoracic And Vascular Surgery</option>

                            <option value="Cardiology">Cardiology</option>

                            <option value="Chest Specialist">Chest Specialist</option>

                            <option value="Dental Surgeon / Dental-Prostho / Dentist / Orthodontist / Endodontist / Periodontist">Dental Surgeon / Dental-Prostho / Dentist / Orthodontist / Endodontist / Periodontist</option>

                            <option value="Dermatology">Dermatology</option>

                            <option value="Diabetology">Diabetology</option>

                            <option value="Diet And Nutrition">Diet And Nutrition</option>

                            <option value="Endocrinologist">Endocrinologist</option>

                            <option value="Endocrinology">Endocrinology</option>

                            <option value="Epidemiology / Community Medicine">Epidemiology / Community Medicine</option>

                            <option value="Forensic Medicine">Forensic Medicine</option>

                            <option value="Gastroenterology">Gastroenterology</option>

                            <option value="General Surgery">General Surgery</option>

                            <option value="Genetics">Genetics</option>

                            <option value="Geriatrics">Geriatrics</option>

                            <option value="Haematology">Haematology</option>

                            <option value="Hand Surgery">Hand Surgery</option>

                            <option value="Immunology /  Immunogenetics">Immunology /  Immunogenetics</option>

                            <option value="Indian Medicine / General Practitioner / Family Physician">Indian Medicine / General Practitioner / Family Physician</option>

                            <option value="Infertility &amp; Reproductive Health">Infertility &amp; Reproductive Health</option>

                            <option value="Internal Medicine">Internal Medicine</option>

                            <option value="Internal Medicine / General Practitioner / Family Physician">Internal Medicine / General Practitioner / Family Physician</option>

                            <option value="Microbiology">Microbiology</option>

                            <option value="Nephrology">Nephrology</option>

                            <option value="Neurology">Neurology</option>

                            <option value="Neurosurgery">Neurosurgery</option>

                            <option value="Nuclear Medicine">Nuclear Medicine</option>

                            <option value="Obstetrics And Gynaecology">Obstetrics And Gynaecology</option>

                            <option value="Oncology - Medical">Oncology - Medical</option>

                            <option value="Oncology - Surgical">Oncology - Surgical</option>

                            <option value="Ophthalmology">Ophthalmology</option>

                            <option value="Orthopaedics">Orthopaedics</option>

                            <option value="Otolaryngology / ENT">Otolaryngology / ENT</option>

                            <option value="Paediatric Nephrology">Paediatric Nephrology</option>

                            <option value="Paediatric Surgery">Paediatric Surgery</option>

                            <option value="Paediatrics">Paediatrics</option>

                            <option value="Pathology">Pathology</option>

                            <option value="Pharmacology">Pharmacology</option>

                            <option value="Physician / General Medicine / General Physician">Physician / General Medicine / General Physician</option>

                            <option value="Physiology">Physiology</option>

                            <option value="Physiotherapy">Physiotherapy</option>

                            <option value="Plastic and Cosmetic Surgery / Plastic and Microsurgeon">Plastic and Cosmetic Surgery / Plastic and Microsurgeon</option>

                            <option value="Psychiatry">Psychiatry</option>

                            <option value="Pulmonology">Pulmonology</option>

                            <option value="Radiology / Sonology / Ultrasound">Radiology / Sonology / Ultrasound</option>

                            <option value="Radiotherapy">Radiotherapy</option>

                            <option value="Rheumatology">Rheumatology</option>

                            <option value="Sexology">Sexology</option>

                            <option value="Transfusion Medicine">Transfusion Medicine</option>

                            <option value="Urology">Urology</option>

                            <option value="Vascular Surgery">Vascular Surgery</option>

                            <option value="Venereal Diseases">Venereal Diseases</option>

                        </select>
                    </fieldset>
                    <fieldset style="width:48%; float:left;">
                        <!-- to make two field float next to one another, adjust values accordingly -->
                        <label>Tags</label>
                        <input type="text" style="width:92%;">
                    </fieldset><div class="clear"></div>
                </div>
                <footer>
                    <div class="submit_link">
                        <select>
                            <option>Draft</option>
                            <option>Published</option>
                        </select>
                        <input type="submit" value="Publish" class="alt_btn">
                        <input type="submit" value="Reset">
                    </div>
                </footer>
            </article><!-- end of post new article -->

            <h4 class="alert_warning">A Warning Alert</h4>

            <h4 class="alert_error">An Error Message</h4>

            <h4 class="alert_success">A Success Message</h4>

                <!--           end of styles article -->
            <div class="spacer"></div>
        </section>

    </body>
</html>
