@{
    ViewBag.Title = "Delete";
}
<html>

<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body>
    <div>
        <h2>Delete a Doctor</h2>
        <label><a href="/Doctor/Index">Home page</a></label>
    </div>
    <div class="container">
        <form action="/Doctor/DeleteDoctor" method="post" role="form">
            <div class="form-group">
                <label>Doctor ID: </label>
                <input type="number" name="Id" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" name="btnadd" class="btn btn-primary">Delete Doctor</button>
            </div>
          
        </form>
        <h1>@ViewBag.Error</h1>
    </div>
</body>

</html>
