@{
    ViewBag.Title = "Index";
}

<html>

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Main/Index">LogOUt</a>
        </li>
    </ul>
    <div class="container">
        <h2>Please Select a Operation from below..</h2>
        <ul style="padding-left:500px">
            <li><a href="/Doctor/Add">Add Doctor <br /><br /></a></li>
            <li><a href="/Doctor/Delete">Delete Doctor<br /><br /></a></li>
            <li><a href="/Doctor/Update">Update Doctor<br /><br /></a></li>
            <li><a href="/Doctor/Search">Search Doctor<br /><br /></a></li>
            <li><a href="/Doctor/ViewDoctor">View Doctor<br /><br /></a></li>
        </ul>
    </div>
</body>

</html>
