@{
    ViewBag.Title = "Index";
}

<html>

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Main/Index">LogOUt</a>
        </li>
    </ul>
    <div class="container">
        <h2>Please Select a Operation from below..</h2>
        <ul style="padding-left:500px">
            <li><a href="/User/Add">Add User <br /><br /></a></li>
            <li><a href="/User/Delete">Delete User<br /><br /></a></li>
            <li><a href="/User/Update">Update User<br /><br /></a></li>
            <li><a href="/User/Search">Search User<br /><br /></a></li>
            <li><a href="/User/ViewUser">View User<br /><br /></a></li>
        </ul>
    </div>
</body>

</html>

