@{
    ViewBag.Title = "Update";
}
<html>

<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>

<body>
    <div>
        <h2>Update a User</h2>
        <label><a href="/User/Index">Home page</a></label>
    </div>
    <div class="container">
        <form action="/User/UpdateUser" method="post" role="form">
            <h3>Please provide the new Information and ID of the User</h3>
            <div class="form-group">
                <label>name: </label>
                <input type="text" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Password: </label>
                <input type="password" name="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label>Confirm Passsword: </label>
                <input type="text" name="CPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label>Phone: </label>
                <input type="tel" name="Phone" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" name="btnadd" class="btn btn-primary">Update User</button>
            </div>
        </form>
        <h1>@ViewBag.Error</h1>
    </div>
    
</body>

</html>