@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Best Doctors</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li>
                        <a href="/Home/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/Home/AreYouDoctor">AreYouDoctor</a>
                    </li>
                    <li>
                        <a href="/Home/Search">Search</a>
                    </li>
                    <l
                        <li>
                            <a href="/Main/Index">LogOUt</a>
                        </li>>
</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    About
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/images/download%20(1).jpg" />
            </div>
            <div class="col-md-6">
                <h2>Mission Statement</h2>
                <p>Provide the chiropractic lifestyle components for people to live longer, healthier, happier, more pure and fun lives.
To educate people on these components of True health and chiropractics role in restoring spinal function thus allowing the body to heal itself.
To walk the talk.
Positively impact the health and wellness of our community.
At the end of the day when I am 100 or 120 I want to know I have made a difference in LIFE </p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Team Members -->
        ```````````````````````````````````````````````<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="images\dev.jpg" alt=""> 
                    <img src="~/Content/images/401864_194045154082919_1176979043_n.jpg" />                   
                    
                    <div class="caption">
                        <h3>
                            Qasim Raza<br>
                            <small>Job Title</small>
                        </h3>
                        <p>Team Lead</p>
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            <abbr title="Email">E</abbr>: <a href="mailto:bitf12m514@pucit.edu.pk">bitf12m514@pucit.edu.pk</a>
                        </p> 
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/haseeb.javed55"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Our Customers -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Our Visitors</h2>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2015</p>
                    </div>
                </div>
            </footer>
        </div>
        
</body>
</html>
