@{
    ViewBag.Title = "Index";
}

<html>

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Main/Index">LogOUt</a>
        </li>
    </ul>
    <div class="container">
        <h2>Please Select a Operation from below..</h2>
        <ul style="padding-left:500px">
            <li><a href="/Staff/Add">Add Admin <br /><br /></a></li>
            <li><a href="/Staff/Delete">Delete Admin<br /><br /></a></li>
            <li><a href="/Staff/Update">Update Admin<br /><br /></a></li>
            <li><a href="/Staff/Search">Search Admin<br /><br /></a></li>
            <li><a href="/Staff/ViewAdmin">View Admin<br /><br /></a></li>
        </ul>
    </div>
</body>

</html>
